* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #564AFF;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
