.products {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background-color: rgb(248, 248, 248);
}
.products__title {
    text-align: center;
    color: #564AFF;
    margin: 50px 0;
}
table {
    margin: 0 auto;
    width: 90%;
}
thead {
    background-color: #564AFF;
    color: white;
}

.table--title {
    padding: 15px;
}
.products__body tr td {
    padding: 20px;
    border: 1px solid lightgray;
}
.products__element {
    display: flex;
    justify-content: center;
    list-style: none;
}
.category__orange, .category__green {
    text-align: center;
    padding: 8px;
}
.category__orange {
    background-color: #FFA846;
    color: white;
    border-radius: 20px;
}
.category__green {
    background-color: #32B436;
    color: white;
    border-radius: 50px;
}
@media screen and (min-width: 1100px) {
    .td__price {
        width: 125px;
    }
}
@media screen and (max-width: 750px) {
    .products {
        position: absolute;
        width: calc(100% - 100px);
        min-height: 100vh;
        left: 100px;
    }
    table, 
    .products__head, 
    .products__body, 
    tr, 
    .table--title, 
    .title__responsive {
        display: block;
    }

    .products__head {
        display: none;
    }

    .title__responsive:first-child, .title__responsive:nth-child(2), .title__responsive:nth-child(3), .title__responsive:nth-child(4){
        padding-left: 130px;
        position: relative;
        margin-top: -1px;
        background: #FFF;
    }


    .title__responsive:nth-child(odd) {
        background-color: #eee;
    }

    .title__responsive::before {
        padding: 10px;
        content: attr(data-label);
        position: absolute;
        top: 0;
        left: 0;
        width: 90px;
        bottom: 0;
        background-color:#564AFF;
        color: #FFF;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 0.9rem;
    }

    tr {
        margin-bottom: 1rem;
    }

    .table--title + .title__responsive {
        padding-left: 10px;
    }

}
